body {
  background-color: #C2C286;
}

.main__title {
  text-align: center;
  font-size: 60px;
  color: #388515;
}

.chat__body {
  width: 100%;
  height: 400px;
  border: 3px solid #000;
  margin-bottom: 30px;
  background: #CC9E5A;
  overflow-y: scroll;
}

.chat__message {
  display: flexbox;
  border: 1px solid #000;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #EF0;
  font-size: 30px;
  padding: 10px;
  width: 300px;
  max-width: 80%;
  word-wrap: break-word;
  justify-content: space-between;
}

.chat__message--hidden {
  background-color: #000;
}

